In [22]:
cd G:\代码\资产配置项目\

G:\代码\资产配置项目

In [49]:
import pandas as pd

In [29]:
# 澳大利亚国债收益率
Aus_bond = pd.read_csv(r'Asset-allocation\data\澳大利亚_国债收益率_10年.csv', encoding='gbk')[4:-1]
Aus_bond.rename(columns={'指标名称':'date', '澳大利亚:国债收益率:10年':'yeild'}, inplace=True)
Aus_bond['date'] = pd.to_datetime(Aus_bond['date'])
Aus_bond['yeild'] = Aus_bond['yeild'].astype(float)

In [28]:
# a澳大利亚标准普尔200
Aus_stock = pd.read_csv(r'Asset-allocation\data\澳大利亚标准普尔200指数.csv', encoding='gbk')[4:-1]
Aus_stock

            指标名称 澳大利亚标准普尔200指数
4     1992-05-29        1704.6
5     1992-06-01        1700.5
6     1992-06-02        1702.7
7     1992-06-03        1704.5
8     1992-06-04        1701.9
...          ...           ...
8238  2024-12-05        8474.9
8239  2024-12-06        8420.9
8240  2024-12-09        8423.0
8241  2024-12-10        8393.0
8242  2024-12-11        8353.6

[8239 rows x 2 columns]

In [27]:
Aus_to_rmb = pd.read_csv(r"C:\Users\ysj12\Desktop\太保科技\澳元兑人民币.csv")
new_Aus_to_rmb = Aus_to_rmb[["日期","涨跌幅"]].copy()
new_Aus_to_rmb["涨跌幅"] = (new_Aus_to_rmb["涨跌幅"]*100).round(2).astype(str)
print(new_Aus_to_rmb.head(10))

           日期    涨跌幅
0  2006-01-02   0.09
1  2006-01-03    0.9
2  2006-01-04   1.06
3  2006-01-05  -0.06
4  2006-01-06   0.88
5  2006-01-09    0.0
6  2006-01-10  -0.72
7  2006-01-11   0.88
8  2006-01-12  -0.65
9  2006-01-13   0.66

In [29]:
new_Aus_to_rmb.to_csv(r"C:\Users\ysj12\Desktop\太保科技\澳元兑人民币.csv",index=False)

In [155]:
#澳元兑人民币
Aus_to_rmb = pd.read_csv(r"C:\Users\ysj12\Desktop\太保科技\澳元兑人民币.csv")
Aus_to_rmb["日期"]=pd.to_datetime(Aus_to_rmb["日期"])
Aus_to_rmb["涨跌幅"] = Aus_to_rmb["涨跌幅"].astype(float)/100
Aus_to_rmb.rename(columns={"涨跌幅":"澳元兑人民币涨跌幅"},inplace=True)
print(Aus_to_rmb.head(10))

          日期  澳元兑人民币涨跌幅
0 2006-01-02     0.0009
1 2006-01-03     0.0090
2 2006-01-04     0.0106
3 2006-01-05    -0.0006
4 2006-01-06     0.0088
5 2006-01-09     0.0000
6 2006-01-10    -0.0072
7 2006-01-11     0.0088
8 2006-01-12    -0.0065
9 2006-01-13     0.0066

In [ ]:
#标普500
bp500 = pd.read_excel(r"Asset-allocation\data\标普500.csv.xlsx")
bp500 = bp500[["日期", "涨跌幅"]].copy()
bp500["日期"] = pd.to_datetime(bp500["日期"])
bp500.rename(columns={"涨跌幅":"标普500涨跌幅"},inplace=True)
print(bp500.head(10))

          日期  标普500涨跌幅
0 1927-12-30    0.0000
1 1928-01-02    0.0000
2 1928-01-03    0.0057
3 1928-01-04   -0.0023
4 1928-01-05   -0.0096
5 1928-01-06    0.0063
6 1928-01-09   -0.0091
7 1928-01-10   -0.0074
8 1928-01-11   -0.0012
9 1928-01-12    0.0069

In [167]:
#德国 国债收益率 长期
germ_yield = pd.read_csv(r"C:\Users\ysj12\Desktop\太保科技\data_process\德国_国债收益率_长期.csv", encoding = "gbk")
germ_yield = germ_yield.iloc[4:].reset_index(drop=True)
germ_yield.columns = ["日期"] + list(germ_yield.columns[1:])
germ_yield.iloc[:, 1] = germ_yield.iloc[:, 1].astype(float)/100
print(germ_yield.head(10))

           日期 德国:国债收益率:长期
0  1956-05-31       0.064
1  1956-06-30       0.068
2  1956-07-31       0.068
3  1956-08-31       0.068
4  1956-09-30        0.07
5  1956-10-31        0.07
6  1956-11-30       0.072
7  1956-12-31       0.073
8  1957-01-31       0.073
9  1957-02-28       0.074

In [159]:
#德国DAX
germ_DAX = pd.read_excel(r"C:\Users\ysj12\Desktop\太保科技\data_process\德国DAX.xlsx")
germ_DAX = germ_DAX[["日期", "涨跌幅"]].copy()
germ_DAX["日期"] = pd.to_datetime(germ_DAX["日期"])
germ_DAX.rename(columns={"涨跌幅":"德国DAX涨跌幅"},inplace=True)
print(germ_DAX.head(10))

          日期  德国DAX涨跌幅
0 1959-10-01    0.0000
1 1959-10-02   -0.0115
2 1959-10-05   -0.0276
3 1959-10-06   -0.0128
4 1959-10-07    0.0058
5 1959-10-08    0.0183
6 1959-10-09    0.0062
7 1959-10-12   -0.0265
8 1959-10-13   -0.0115
9 1959-10-14    0.0006

In [169]:
#美国国债
US_yield = pd.read_csv(r"C:\Users\ysj12\Desktop\太保科技\data_process\美国_国债收益率_10年.csv", encoding = "gbk")
US_yield = US_yield.iloc[4:].reset_index(drop=True)
US_yield.columns = ["日期"] + list(US_yield.columns[1:])
US_yield.iloc[:, 1] = US_yield.iloc[:, 1].astype(float)/100
print(US_yield.head(10))

           日期 美国:国债收益率:10年
0  1953-04-30       0.0283
1  1953-05-31       0.0305
2  1953-06-30       0.0311
3  1953-07-31       0.0293
4  1953-08-31       0.0295
5  1953-09-30       0.0287
6  1953-10-31       0.0266
7  1953-11-30       0.0268
8  1953-12-31       0.0259
9  1954-01-31       0.0248

In [171]:
#欧元兑人民币
Eur_to_rmb = pd.read_excel(r"C:\Users\ysj12\Desktop\太保科技\data_process\欧元兑人民币.xlsx")
Eur_to_rmb = Eur_to_rmb[["日期", "涨跌幅"]].copy()
Eur_to_rmb["日期"] = pd.to_datetime(Eur_to_rmb["日期"])
Eur_to_rmb.rename(columns={"涨跌幅":"欧元兑人民币涨跌幅"},inplace=True)
print(Eur_to_rmb.head(10))

          日期  欧元兑人民币涨跌幅
0 1999-01-01     0.0000
1 1999-01-04     0.0120
2 1999-01-05    -0.0064
3 1999-01-06    -0.0113
4 1999-01-07     0.0073
5 1999-01-08    -0.0109
6 1999-01-11    -0.0078
7 1999-01-12     0.0057
8 1999-01-13     0.0094
9 1999-01-14     0.0018

In [173]:
#日经225
ri225 = pd.read_excel(r"C:\Users\ysj12\Desktop\太保科技\data_process\日经225.xlsx")
ri225 = ri225[["日期", "涨跌幅"]].copy()
ri225["日期"] = pd.to_datetime(ri225["日期"])
ri225.rename(columns={"涨跌幅":"日经225涨跌幅"},inplace=True)
print(ri225.head(10))

          日期  日经225涨跌幅
0 1949-05-16    0.0000
1 1949-05-17   -0.0080
2 1949-05-18   -0.0130
3 1949-05-19   -0.0069
4 1949-05-20   -0.0125
5 1949-05-21    0.0043
6 1949-05-23    0.0114
7 1949-05-24    0.0052
8 1949-05-25   -0.0071
9 1949-05-26   -0.0064

In [175]:
#日本国债
Japen_yield = pd.read_csv(r"C:\Users\ysj12\Desktop\太保科技\日本_国债利率_10年.csv", encoding = "gbk")
Japen_yield = Japen_yield.iloc[4:].reset_index(drop=True)
Japen_yield.columns = ["日期"] + list(Japen_yield.columns[1:])
Japen_yield.iloc[:, 1] = Japen_yield.iloc[:, 1].astype(float)/100
print(Japen_yield.head(10))

           日期 日本:国债利率:10年
0  1986-07-05     0.05103
1  1986-07-07     0.05091
2  1986-07-08     0.05123
3  1986-07-09     0.05138
4  1986-07-10     0.05151
5  1986-07-11     0.05221
6  1986-07-14       0.052
7  1986-07-15     0.05191
8  1986-07-16     0.05217
9  1986-07-17     0.05244

In [177]:
#上证50
sz50 = pd.read_excel(r"C:\Users\ysj12\Desktop\太保科技\data_process\上证50.xlsx")
sz50 = sz50[["日期", "涨跌幅"]].copy()
sz50["日期"] = pd.to_datetime(sz50["日期"])
sz50.rename(columns={"涨跌幅":"上证50涨跌幅"},inplace=True)
print(sz50.head(10))

          日期  上证50涨跌幅
0 2003-12-31   0.0000
1 2004-01-02   0.0114
2 2004-01-05   0.0489
3 2004-01-06   0.0140
4 2004-01-07   0.0099
5 2004-01-08   0.0151
6 2004-01-09  -0.0189
7 2004-01-12   0.0324
8 2004-01-13  -0.0129
9 2004-01-14  -0.0205

In [179]:
#上证指数
sz_index = pd.read_excel(r"C:\Users\ysj12\Desktop\太保科技\data_process\上证50.xlsx")
sz_index = sz_index[["日期", "涨跌幅"]].copy()
sz_index["日期"] = pd.to_datetime(sz_index["日期"])
sz_index.rename(columns={"涨跌幅":"上证指数涨跌幅"},inplace=True)
print(sz_index.head(10))

          日期  上证指数涨跌幅
0 2003-12-31   0.0000
1 2004-01-02   0.0114
2 2004-01-05   0.0489
3 2004-01-06   0.0140
4 2004-01-07   0.0099
5 2004-01-08   0.0151
6 2004-01-09  -0.0189
7 2004-01-12   0.0324
8 2004-01-13  -0.0129
9 2004-01-14  -0.0205

In [191]:
#国债到期收益率
cn_yield = pd.read_csv(r"C:\Users\ysj12\Desktop\太保科技\data_process\中国_国债到期收益率.csv", encoding = "gbk")
cn_yield = cn_yield.iloc[4:].reset_index(drop=True)
cn_yield.columns = ["日期"] + list(cn_yield.columns[1:])
cn_yield.iloc[:, 1:] = cn_yield.iloc[:, 1:].apply(pd.to_numeric, errors='coerce') / 100
print(cn_yield.head(10))

           日期 中国:国债到期收益率:10年 中国:国债到期收益率:1年 中国:国债到期收益率:5年 中国:国债到期收益率:3年
0  2007-12-14       0.045473      0.037712      0.042099      0.040571
1  2007-12-17        0.04565      0.037897      0.042101      0.040617
2  2007-12-18       0.045516      0.038043       0.04212      0.040686
3  2007-12-19       0.045359      0.038171      0.042086      0.040654
4  2007-12-20       0.045438      0.037974      0.042178      0.040696
5  2007-12-21       0.045649      0.037708      0.042123      0.040611
6  2007-12-24        0.04545      0.037129      0.042125       0.04047
7  2007-12-25       0.045199         0.037      0.042022      0.039895
8  2007-12-26       0.045143      0.037031      0.042206      0.039914
9  2007-12-27       0.044999      0.037083      0.042316      0.040012

In [147]:
#美元兑人民币
US_rmb = pd.read_csv(r"C:\Users\ysj12\Desktop\太保科技\data_process\中间价_美元兑人民币.csv", encoding = "gbk")
US_rmb = US_rmb.iloc[4:].reset_index(drop=True)
US_rmb.columns = ["日期"] + list(US_rmb.columns[1:])
print(US_rmb.head(10))

           日期 中间价:美元兑人民币
0  1994-01-01        8.7
1  1994-01-03        8.7
2  1994-01-04        8.7
3  1994-01-05        8.7
4  1994-01-06        8.7
5  1994-01-07       8.69
6  1994-01-08        8.7
7  1994-01-10        8.7
8  1994-01-11        8.7
9  1994-01-12        8.7

In [189]:
#中证指数
z_index = pd.read_excel(r"C:\Users\ysj12\Desktop\太保科技\data_process\中证500.xlsx")
z_index = z_index[["日期", "涨跌幅"]].copy()
z_index["日期"] = pd.to_datetime(z_index["日期"])
z_index.rename(columns={"涨跌幅":"中证指数涨跌幅"},inplace=True)
print(z_index.head(10))

          日期  中证指数涨跌幅
0 2003-12-31   0.0000
1 2004-01-02   0.0114
2 2004-01-05   0.0489
3 2004-01-06   0.0140
4 2004-01-07   0.0099
5 2004-01-08   0.0151
6 2004-01-09  -0.0189
7 2004-01-12   0.0324
8 2004-01-13  -0.0129
9 2004-01-14  -0.0205